body {
	font-family: Arial, sans-serif;
	color: #333;
	background-color: #f8f8f8;
}

.wapper_container {
    display: flex;
}

.container_list{
    margin-left: 15px;
    width: 1130px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 650px;
    margin-left: 15px;
}

.container_add{
    margin-left: 15px;
    width: 1130px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 650px;
    margin-left: 15px;
}

.card{
    margin-left: 30px;
}

.card-body{
	margin-top: 35px;
	width: 100%;
	overflow-x: auto;
	height: 500px;
}

.table {
	width: 100%;
}

.form-control{
    
    width: 90%;
    height: 30px;
	border-radius: 3px;
}

.from-group{
	margin-bottom: 15px;
}
.from-group label {
	font-size: larger;
	font-weight: 600;
	display: block;
}

.form-group label{
	font-size: larger;
	font-weight: 600;
	display: block;
}



.card-body button{
	width: 80px;
	height: 35px;
	margin-top: 15px;
	border-radius: 3px;
	background: #007bff;
	color: white;
}

.btn{
	width: 50px;
	height: 30px;
}

.sidebar {
	width: 250px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.sidebar h2{
    align-items: center;
}
.sidebar h2 img{
    width: 100px;
    height: 100px;
    margin-left: 60px;
    border-radius: 50px;
}

/* Thiết lập kiểu dáng cho menu trong sidebar */
.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar li {
	margin-bottom: 10px;
}

.sidebar a {
	display: block;
	padding: 5px 10px;
	color: #666;
	text-decoration: none;
	border-left: 3px solid transparent;
	transition: border-left-color 0.2s ease-in-out;
}

.sidebar a:hover {
	border-left-color: #007bff;
}


.table {
    width: 95%;
}


.thead-dark{
    background-color: #464444;
    color: white;
    height: 40px;
}

/* css cho indexuser */
.container_lietke {
	width: 80%;
	margin: auto;
	padding-top: 50px;
	margin-left: 15px;
    width: 1130px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 650px;
    margin-left: 15px;
}

table {
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
	padding: 10px;
	text-align: left;
}

table th {
	background-color: #333;
	color: #fff;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

